<h1>Metodo GET con Ajax</h1>
<button id="btnCargar" class="btn btn-primary" >Cargar datos</button>
<h2 id="resultado" style="color:blue"></h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnCargar").click(function () {
            var url = "@Url.Action("LoadDartos","Ajax")"

            $.get(url).done(function(data){
                $("#resultado").text(data)
            })
        })
    })
</script>